VITE_API_BASE_URL=https://example.com
VITE_WP_API_PATH=/wp-json/wp/v2
VITE_WC_API_PATH=/wp-json/wc/v3
VITE_JWT_TOKEN_PATH=/wp-json/jwt-auth/v1/token
VITE_JWT_VALIDATE_PATH=/wp-json/jwt-auth/v1/token/validate
VITE_WC_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxx
VITE_WC_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxx
